


<mat-tab-group animationDuration="2000ms" mat-align-tabs="center" color="primary" >

  <mat-tab label="Inicio">
    <div class="example-large-box mat-elevation-z4">
      <mat-card class="example-card">
        <mat-card-header>
      
       <mat-card-title>Infinite Moon Hotel & Resort</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="example-form">
            <table cellspacing="0">
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="login()" color="primary">Login</button>
          <span>Don't have an account ? <a [routerLink]="['/unauthenticated/register']" >register</a> here</span>
        </mat-card-actions>
      </mat-card>
      
    </div>
  </mat-tab>
  <mat-tab label="Habitaciones">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    
    
    </mat-tab>
  <mat-tab label="reservar">Content 3</mat-tab>
  <mat-tab label="contáctanos">Content 3</mat-tab>
</mat-tab-group>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>


